:root {
    --light-bg-color: #EFE7E2;
    --light-accent: #9B8E92;
    --main-brand: #B02843;
    --dark-accent: #8A7B70;
    --dark-bg-color: #1C181E;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: var(--light-bg-color);
    padding-bottom: 2%;

}
nav {
    height: 100px;
}
.main-container {
    color: var(--dark-bg-color);
}
.nav-container {
    display: grid;
    height: inherit;
    grid-template-columns: 2fr 1fr;
    background-color: var(--main-brand);
    align-items: center;
    justify-items: center;
}
.nav-item {

}

ul {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;

    color: var(--light-bg-color)
}
.main-container, .selection-container{
    padding-top: 30px;
}
.main-container {
    color: var(--dark-bg-color);
}

.time-select {
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
}

.selection-container {
    display: flex;
    justify-content: space-around;
}

.time-title{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.line {
    margin-top: 30px;
    display: block;
    width: 80%;
    height: 5px;
    margin-left: 10%;
    border-radius: 30px;
    background-color: var(--dark-accent)
}

.control-container {
    margin-left: 25%;
    height: 200px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.up-arrow {
    transform: rotate(-90deg);
}
.down-arrow {
    transform: rotate(90deg);
}

.up-arrow, .down-arrow {
    border: none;
    height: 30px;
    padding: 8px;

    background-color: var(--light-accent);
    border-radius: 50%;
}

.up-arrow:hover, .down-arrow:hover {
    opacity: 0.8;
}

.control-container > div {
    color: black;
}
.timer-container, .control-container {
    margin-top: 30px;
    height: 200px;
    color: var(--light-bg-color);
}

.timer-container {
    background-color: var(--main-brand);
    text-align: center;
}

.session-title, .timer {
    font-size: 2rem;
}
.session-title {
    padding: 10px;
}

.timer {
    margin-top: 5%;
}
.control-button img {
    height: 30px;
    width: 30px;
}
.control-button {
    padding: 15px;
    background-color: var(--main-brand);
    border-radius: 50%;
    cursor: pointer;
}

.control-button:hover {
    opacity: 0.8;
}
