:root {
    --light-bg-color: #EFE7E2;
    --light-accent: #9B8E92;
    --main-brand: #B02843;
    --dark-accent: #8A7B70;
    --dark-bg-color: #1C181E;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: var(--light-bg-color);

}
nav {
    height: 100px;
}
.main-container {
    color: var(--dark-bg-color);
}
.nav-container {
    display: grid;
    height: inherit;
    grid-template-columns: 2fr 1fr;
    background-color: var(--main-brand);
    align-items: center;
    justify-items: center;
}

.nav-link {
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--light-bg-color);
    position: relative;
    right: 0px;
    z-index: 3;
    transition: all 1s ease;
}

.nav-link:hover {
    right: 10px;
    transition: all 1s ease;

}

.nav-link::after {
    display: inline-block;
    content: '';
    left: -10%;
    top: -10%;
    height: 130%;
    width: 120%;
    background-color: black;
    position: absolute;
     z-index: -1;
    transform: scale(0,1);
    transition: all 0.4s ease;
    transform-origin: left;
}

.nav-link:hover::after{
    transform: scale(1,1);
    transition:  all 0.4s ease;
    transform-origin: left;
}

.main-container, .selection-container{
    padding-top: 30px;
}
.main-container {
    color: var(--dark-bg-color);
}
.break-start-number, .work-start-number {
    font-size: 1.8rem
}
.time-select {
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
}

.selection-container {
    display: flex;
    justify-content: space-around;
}

.time-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.line {
    margin-top: 30px;
    display: block;
    width: 80%;
    height: 5px;
    margin-left: 10%;
    border-radius: 30px;
    background-color: var(--dark-accent)
}

.control-container {
    margin-left: 25%;
    height: 200px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.up-arrow {
    transform: rotate(-90deg);
}
.down-arrow {
    transform: rotate(90deg);
}

.up-arrow, .down-arrow {
    border: none;
    height: 30px;
    padding: 8px;

    background-color: var(--light-accent);
    border-radius: 50%;
}

.up-arrow:hover, .down-arrow:hover {
    opacity: 0.8;
}

.control-container > div {
    color: black;
}
.timer-container, .control-container {

    padding-top: 30px;
    height: 200px;
    color: var(--light-bg-color);
}

.timer-container {
    background-color: var(--main-brand);
    text-align: center;
}

.session-title, .timer {
    font-size: 2rem;
}
.session-title {
    padding: 10px;
}

.timer {
    margin-top: 5%;
}
.control-button img {
    height: 30px;
    width: 30px;
}
.control-button {
    padding: 15px;
    background-color: var(--main-brand);
    border-radius: 50%;
    cursor: pointer;
}

.control-button:hover {
    opacity: 0.8;
}

/* Details page */
.credit-list {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.credit-list > div{
    margin-top: 30px;
}

.credit-title {
    text-transform: capitalize;
    font-size: 2rem;
    margin-top: 30px;
    text-align: center;
}
